/.history
/lightning_logs
/gold_model_help.ipynb
6622927.fig.001.png
6622927.fig.003.png
6622927.fig.004.png
Gold_model0.h5
Gold_model1.h5
Gold_model2.h5
Gold_model3.h5 
index_other.html
model4.hdf5
model4.keras 
new_gold_donwload.ipynb
test.py

